@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 0.6rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 0.96rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #3aac00 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #3aac00 !important;
  border-color: #3aac00 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #206000 !important;
  border-color: #206000 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #206000 !important;
  border-color: #206000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #269dff !important;
  border-color: #269dff !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0077d8 !important;
  border-color: #0077d8 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0077d8 !important;
  border-color: #0077d8 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #184600;
  color: #184600;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #3aac00;
  border-color: #3aac00;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3aac00 !important;
  border-color: #3aac00 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0069bf;
  color: #0069bf;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #269dff;
  border-color: #269dff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #269dff !important;
  border-color: #269dff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #3aac00 !important;
}
.text-secondary {
  color: #269dff !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #184600 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0069bf !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3aac00;
  border-color: #3aac00;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #3aac00;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #73ff2d;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 0.6rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 0.96rem;
}
blockquote {
  border-color: #3aac00;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #3aac00;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #3aac00;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #3aac00;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #3aac00;
  border-bottom-color: #3aac00;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #3aac00 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #269dff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%233aac00' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rXdCKZHPTN {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #ae002c;
}
.cid-rXdCKZHPTN .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-rXdCKZHPTN .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rXdCKZHPTN .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rXdCKZHPTN .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rXdCKZHPTN .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rXdCKZHPTN a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rXdCKZHPTN a.close:hover {
  color: #ffffff;
}
.cid-rXdCKZHPTN H1 {
  color: #ffffff;
  text-align: center;
}
.cid-rXdCKZHPTN P {
  color: #efefef;
  text-align: center;
}
.cid-rZ1jYWEVb2 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #073b4c, #0f7699);
}
.cid-rZ1jYWEVb2 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rZ1jYWEVb2 H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rYOH7itwwb {
  background-image: url("../../../assets/images/255247-2-2000x1250.jpeg");
}
.cid-rYOH7itwwb .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-rYOH7itwwb .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rYOH7itwwb .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rYOH7itwwb .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rYOH7itwwb .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rYOH7itwwb a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rYOH7itwwb a.close:hover {
  color: #ffffff;
}
.cid-rYOH7itwwb P {
  color: #c1c1c1;
}
.cid-rXhrzZjC7F {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ff3366, #7f1933);
}
.cid-rXhrzZjC7F .main {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-rXhrzZjC7F .main .mbr-section-btn {
  text-align: right;
}
.cid-rXhrzZjC7F .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXhrzZjC7F H3 {
  text-align: center;
  color: #ffffff;
}
.cid-rVRyAbsfjc .navbar {
  padding: .5rem 0;
  background: #2e2e2e;
  transition: none;
  min-height: 77px;
}
.cid-rVRyAbsfjc .navbar-dropdown.bg-color.transparent.opened {
  background: #2e2e2e;
}
.cid-rVRyAbsfjc a {
  font-style: normal;
}
.cid-rVRyAbsfjc .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rVRyAbsfjc .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rVRyAbsfjc .nav-item:focus,
.cid-rVRyAbsfjc .nav-link:focus {
  outline: none;
}
.cid-rVRyAbsfjc .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rVRyAbsfjc .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rVRyAbsfjc .menu-logo {
  margin-right: auto;
}
.cid-rVRyAbsfjc .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rVRyAbsfjc .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rVRyAbsfjc .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rVRyAbsfjc .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rVRyAbsfjc .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rVRyAbsfjc .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rVRyAbsfjc .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rVRyAbsfjc .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rVRyAbsfjc .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rVRyAbsfjc .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rVRyAbsfjc .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rVRyAbsfjc .dropdown .dropdown-menu {
  background: #2e2e2e;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rVRyAbsfjc .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rVRyAbsfjc .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rVRyAbsfjc .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rVRyAbsfjc .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-rVRyAbsfjc .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rVRyAbsfjc .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rVRyAbsfjc .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rVRyAbsfjc .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rVRyAbsfjc .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rVRyAbsfjc .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rVRyAbsfjc .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rVRyAbsfjc button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-rVRyAbsfjc button.navbar-toggler:focus {
  outline: none;
}
.cid-rVRyAbsfjc button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #879a9f;
}
.cid-rVRyAbsfjc button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rVRyAbsfjc button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rVRyAbsfjc button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rVRyAbsfjc button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rVRyAbsfjc nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVRyAbsfjc nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rVRyAbsfjc nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rVRyAbsfjc nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rVRyAbsfjc .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVRyAbsfjc .collapsed .btn {
  display: -webkit-flex;
}
.cid-rVRyAbsfjc .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rVRyAbsfjc .collapsed .navbar-collapse.collapsing,
.cid-rVRyAbsfjc .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rVRyAbsfjc .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rVRyAbsfjc .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rVRyAbsfjc .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rVRyAbsfjc .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rVRyAbsfjc .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rVRyAbsfjc .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rVRyAbsfjc .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rVRyAbsfjc .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rVRyAbsfjc .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 6.3rem);
  }
}
.cid-rVRyAbsfjc .collapsed button.navbar-toggler {
  display: block;
}
.cid-rVRyAbsfjc .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rVRyAbsfjc .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rVRyAbsfjc .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rVRyAbsfjc .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rVRyAbsfjc .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rVRyAbsfjc .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rVRyAbsfjc .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVRyAbsfjc img {
    height: 3.8rem !important;
  }
  .cid-rVRyAbsfjc .btn {
    display: -webkit-flex;
  }
  .cid-rVRyAbsfjc button.navbar-toggler {
    display: block;
  }
  .cid-rVRyAbsfjc .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rVRyAbsfjc .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rVRyAbsfjc .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rVRyAbsfjc .navbar-collapse.collapsing,
  .cid-rVRyAbsfjc .navbar-collapse.show {
    display: block !important;
  }
  .cid-rVRyAbsfjc .navbar-collapse.collapsing .navbar-nav,
  .cid-rVRyAbsfjc .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rVRyAbsfjc .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rVRyAbsfjc .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rVRyAbsfjc .navbar-collapse.collapsing .navbar-buttons,
  .cid-rVRyAbsfjc .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rVRyAbsfjc .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rVRyAbsfjc .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rVRyAbsfjc .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rVRyAbsfjc .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rVRyAbsfjc .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rVRyAbsfjc .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rVRyAbsfjc .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rVRyAbsfjc .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rVRyAbsfjc .nav-link:hover,
.cid-rVRyAbsfjc .dropdown-item:hover {
  color: #ffffff !important;
}
.cid-rVXqfUVS62 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #5b686b;
}
.cid-rVX76i2lPT {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(45deg, #0f7699, #767676);
}
.cid-rVX76i2lPT .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-rVX76i2lPT .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-rVX76i2lPT .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-rVX76i2lPT .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-rVX76i2lPT .plan .list-group-item:last-child::after {
  display: none;
}
.cid-rVX76i2lPT .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rVX76i2lPT .plan-header,
.cid-rVX76i2lPT .plan-body {
  background-color: #fff;
}
.cid-rVX76i2lPT .price-figure {
  font-weight: 700;
  color: #232323;
}
.cid-rVX76i2lPT .price-value {
  font-weight: 700;
  vertical-align: top;
}
@media (max-width: 550px) {
  .cid-rVX76i2lPT .price-figure {
    font-size: 4.25rem;
  }
}
.cid-rVX76i2lPT .plan-title {
  color: #cc2952;
}
.cid-rVX76i2lPT UL {
  color: #000000;
}
.cid-rXhsLA6ZOO {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ff3366, #7f1933);
}
.cid-rXhsLA6ZOO .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXhsLA6ZOO H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rX8ioVFxTu .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-rX8ioVFxTu .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rX8ioVFxTu .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rX8ioVFxTu .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rX8ioVFxTu .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rX8ioVFxTu a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rX8ioVFxTu a.close:hover {
  color: #ffffff;
}
.cid-rX8ioVFxTu P {
  color: #c1c1c1;
}
.cid-rXhsNK06c1 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ff3366, #7f1933);
}
.cid-rXhsNK06c1 .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXhsNK06c1 H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rWhGjvU91F {
  padding-top: 90px;
  padding-bottom: 60px;
  background-color: #55b4d4;
}
.cid-rWhGjvU91F .item {
  padding-bottom: 2rem;
}
.cid-rWhGjvU91F .item-wrapper {
  height: 100%;
}
.cid-rWhGjvU91F .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-rWhGjvU91F .carousel-control,
.cid-rWhGjvU91F .close {
  background: #1b1b1b;
}
.cid-rWhGjvU91F .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-rWhGjvU91F .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-rWhGjvU91F .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-rWhGjvU91F .close::before {
  content: '\e91a';
}
.cid-rWhGjvU91F .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-rWhGjvU91F .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-rWhGjvU91F .carousel-inner > .active {
  display: block;
}
.cid-rWhGjvU91F .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rWhGjvU91F .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rWhGjvU91F .carousel-control .icon-next,
.cid-rWhGjvU91F .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-rWhGjvU91F .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-rWhGjvU91F .carousel-control,
  .cid-rWhGjvU91F .carousel-indicators,
  .cid-rWhGjvU91F .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-rWhGjvU91F .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-rWhGjvU91F .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rWhGjvU91F .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-rWhGjvU91F .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-rWhGjvU91F .carousel-indicators {
    display: none;
  }
}
.cid-rWhGjvU91F .carousel-indicators .active,
.cid-rWhGjvU91F .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-rWhGjvU91F .carousel-indicators .active {
  background: #fff;
}
.cid-rWhGjvU91F .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-rWhGjvU91F .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-rWhGjvU91F .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rWhGjvU91F .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-rWhGjvU91F .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-rWhGjvU91F .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(98.25vh);
  height: fit-content;
}
.cid-rWhGjvU91F .carousel {
  width: 100%;
}
.cid-rWhGjvU91F .modal-backdrop.in {
  opacity: 0.8;
}
.cid-rWhGjvU91F .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-rWhGjvU91F .modal.fade .modal-dialog,
.cid-rWhGjvU91F .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-rWhGjvU91F .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-rWhGjvU91F a {
  display: block;
}
.cid-rWhGjvU91F a.img {
  pointer-events: none;
}
.cid-rWhEzu4MUS {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #cccccc;
}
.cid-rWhEzu4MUS .mbr-text {
  color: #000000;
}
.cid-rWhEzu4MUS h4 {
  text-align: center;
}
.cid-rWhEzu4MUS p {
  text-align: center;
}
.cid-rWhEzu4MUS .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-rXhsPqYSWf {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ff3366, #7f1933);
}
.cid-rXhsPqYSWf .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXhsPqYSWf H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rXdJayc2QN .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-rXdJayc2QN .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rXdJayc2QN .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rXdJayc2QN .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rXdJayc2QN .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rXdJayc2QN a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rXdJayc2QN a.close:hover {
  color: #ffffff;
}
.cid-rXdJayc2QN H1 {
  color: #ffffff;
  text-align: center;
}
.cid-rXdJayc2QN P {
  color: #c1c1c1;
}
.cid-rXhu6aH6Ek {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ff3366, #7f1933);
}
.cid-rXhu6aH6Ek .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXhu6aH6Ek H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rXhFCKzk2I {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rXhFCKzk2I .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-rXhFCKzk2I .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-rXhFCKzk2I .card_cont {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #eee;
}
.cid-rXhFCKzk2I .card-front {
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cid-rXhFCKzk2I .card-front img {
  height: 100%;
  min-width: 100%;
  width: auto;
}
.cid-rXhFCKzk2I .card_back {
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  color: #ffffff;
  background-color: #55b4d4;
  z-index: 1;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.cid-rXhFCKzk2I .card {
  min-height: 300px;
}
.cid-rXhFCKzk2I .card:hover .card-front {
  z-index: 1;
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.cid-rXhFCKzk2I .card:hover .card_back {
  z-index: 2;
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.cid-rXhFCKzk2I .builderCard .card_back {
  border-bottom-left-radius: 100px;
}
.cid-rXhFCKzk2I .builderCard .card_cont {
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidd;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.cid-rXhsQEdSlv {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ff3366, #7f1933);
}
.cid-rXhsQEdSlv .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXhsQEdSlv H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rXdRJyfiYM .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-rXdRJyfiYM .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rXdRJyfiYM .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rXdRJyfiYM .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rXdRJyfiYM .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rXdRJyfiYM a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rXdRJyfiYM a.close:hover {
  color: #ffffff;
}
.cid-rXdRJyfiYM H1 {
  color: #ffffff;
  text-align: center;
}
.cid-rXdRJyfiYM P {
  color: #c1c1c1;
}
.cid-rVXnrLY2F4 {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #cccccc;
}
.cid-rVXnrLY2F4 P {
  color: #767676;
}
.cid-rZmOP8NPUE {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #cccccc;
}
.cid-rZmOP8NPUE .card-img {
  background-color: #fff;
}
.cid-rZmOP8NPUE .card-box {
  padding: 2rem;
}
.cid-rZmOP8NPUE h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-rZmOP8NPUE p {
  text-align: left;
}
.cid-rZmOP8NPUE .mbr-text {
  color: #767676;
}
.cid-rZmOP8NPUE .card-wrapper {
  height: 100%;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-rZmOP8NPUE .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
@media (min-width: 992px) {
  .cid-rZmOP8NPUE .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-rXhsYu7Lxw {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #149dcc, #5b686b);
}
.cid-rXhsYu7Lxw .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXhsYu7Lxw H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rXjExxq8c0 {
  padding-top: 75px;
  padding-bottom: 30px;
  background-color: #900000;
}
.cid-rXjExxq8c0 h4 {
  font-weight: 500;
  color: #ffffff;
}
.cid-rXjExxq8c0 p {
  color: #ffffff;
}
.cid-rXjExxq8c0 .card {
  margin-bottom: 2rem;
}
.cid-rXjExxq8c0 .card-img {
  border-radius: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: #149dcc;
}
.cid-rXjExxq8c0 .card-img span {
  font-size: 100px;
  color: #ffffff;
}
.cid-rXjExxq8c0 .card-box {
  padding-bottom: 2rem;
  background-color: #149dcc;
  background: linear-gradient(#149dcc, transparent);
}
.cid-rXjExxq8c0 .card-box .card-title {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-rXjExxq8c0 .card-box .mbr-text {
  margin-bottom: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-rXjExxq8c0 .card-box .mbr-section-btn {
  padding-top: 1rem;
}
.cid-rXjExxq8c0 .card-box .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-rXjExxq8c0 .card-title,
.cid-rXjExxq8c0 .card-img {
  text-align: center;
}
.cid-rXoXxi1RWF {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-rXoXxi1RWF .mbr-figure {
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rXoXxi1RWF .mbr-figure img {
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .cid-rXoXxi1RWF .mbr-figure img {
    width: 100% !important;
  }
}
.cid-rXpedWqLsH {
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(45deg, #ff3366, #7f1933);
}
.cid-rXpedWqLsH .btn {
  margin: 0 0 .5rem 0;
}
.cid-rXpedWqLsH H3 {
  text-align: left;
  color: #ffffff;
}
.cid-rXpjJYBNJu {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #0f7699, #cc2952);
}
.cid-rXpjJYBNJu .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-rXpjJYBNJu .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-rXpjJYBNJu .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-rXpjJYBNJu .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-rXpjJYBNJu .plan .list-group-item:last-child::after {
  display: none;
}
.cid-rXpjJYBNJu .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-rXpjJYBNJu .plan-header,
.cid-rXpjJYBNJu .plan-body {
  background-color: #fff;
}
.cid-rXpjJYBNJu .price-figure {
  font-weight: 700;
  color: #232323;
}
.cid-rXpjJYBNJu .price-value {
  font-weight: 700;
  vertical-align: top;
}
@media (max-width: 550px) {
  .cid-rXpjJYBNJu .price-figure {
    font-size: 4.25rem;
  }
}
.cid-rYJq1h3iDH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-rYJq1h3iDH .content {
    text-align: center;
  }
  .cid-rYJq1h3iDH .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rYJq1h3iDH .media-wrap {
    margin-bottom: 1rem;
  }
}
.cid-rYJq1h3iDH .media-wrap .mbr-iconfont-logo {
  font-size: 7.5rem;
  color: #f36;
}
.cid-rYJq1h3iDH .media-wrap img {
  height: 6rem;
}
@media (max-width: 767px) {
  .cid-rYJq1h3iDH .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-rYJq1h3iDH .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-rYJq1h3iDH .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rYJq1h3iDH .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-rYJq1h3iDH .footer-lower .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-rYJq1h3iDH .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rYJq1h3iDH .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rYJq1h3iDH .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
